<footer class="multi">
  <p class="multi-intro">This is the final post in a 5 part article on:</p>
  <h1 class="multi-title">My Experience Owning an Investment Property</h1>

  <nav class="multi-nav">
    <ol>
      <li class="multi-item {% if page.currentPart == 1 %}multi-active{% endif %}">
        <a
          href="/2022/01/25/my-experience-owning-an-investment-property-p1.html"
          title="My Experience Owning an Investment Property - Part 1"
        >
          Poor timing in, poor timing out
        </a>
      </li>
      <li class="multi-item {% if page.currentPart == 2 %}multi-active{% endif %}">
        <a
          href="/2022/01/26/my-experience-owning-an-investment-property-p2.html"
          title="My Experience Owning an Investment Property - Part 2"
        >
          Buying the investment property
        </a>
      </li>
      <li class="multi-item {% if page.currentPart == 3 %}multi-active{% endif %}">
        <a
          href="/2022/01/27/my-experience-owning-an-investment-property-p3.html"
          title="My Experience Owning an Investment Property - Part 3"
        >
          My experience as a Rental Provider
        </a>
      </li>
      <li class="multi-item {% if page.currentPart == 4 %}multi-active{% endif %}">
        <a
          href="/2022/01/28/my-experience-owning-an-investment-property-p4.html"
          title="My Experience Owning an Investment Property - Part 4"
        >
          Selling the investment property
        </a>
      </li>
      <li class="multi-item {% if page.currentPart == 5 %}multi-active{% endif %}">
        <a
          href="/2022/01/29/my-experience-owning-an-investment-property-p5.html"
          title="My Experience Owning an Investment Property - Part 5"
        >
          Summary of expenses and income
        </a>
      </li>
    </ol>
  </nav>
</footer>
