<section class="recommended">
  <h3>Bettering Your Finances</h3>
  <ul>
    <li>
      <a href="https://amzn.to/3FOMmHO" target="_blank">The Barefoot Investor for Families: How to teach your kids the value of a buck</a>
    </li>
    <li>
      <a href="https://amzn.to/3Al5lIT" target="_blank">The Barefoot Investor: The Only Money Guide You'll Ever Need</a>
    </li>
    <li><a href="https://amzn.to/33EUrlx" target="_blank">Investopoly: The 8 Golden Rules for Mastering the Game of Building Wealth</a></li>
    <li><a href="https://amzn.to/3qNZHft" target="_blank">Make Money Simple Again: Financial peace in less than 10 minutes a month</a></li>
  </ul>
</section>
