<section class="recommended">
  <h3>FIRE</h3>
  <ul>
    <li>
      <a href="https://amzn.to/3IqUXCw" target="_blank"
        >The Simple Path to Wealth: Your road map to financial independence and a rich, free life</a
      >
    </li>
    <li><a href="https://amzn.to/3fQ1072" target="_blank">The 4-Hour Work Week: Escape the 9-5, Live Anywhere and Join the New Rich</a></li>

    <li>
      <a href="https://amzn.to/3rC6ZSG" target="_blank"
        >I Will Teach You to Be Rich: No Guilt. No Excuses. No B.S. Just a 6-Week Program That Works</a
      >
    </li>
    <!-- <li><a href="https://amzn.to/3fNEQTb" target="_blank">Money Master the Game: 7 Simple Steps to Financial Freedom</a></li> -->
  </ul>
</section>
