<section class="recommended">
  <h3>Wellbeing and General Health</h3>
  <ul>
    <li>
      <a href="https://amzn.to/3fIlnmL" target="_blank"
        >10% Happier: How I Tamed the Voice in My Head, Reduced Stress Without Losing My Edge, and Found Self-Help That Actually Works - A
        True Story</a
      >
    </li>
    <li>
      <a href="https://amzn.to/3GQhtUS" target="_blank">Cut the Noise: Better Results, Less Guilt</a>
    </li>
    <li>
      <a href="https://amzn.to/3fKHYiB" target="_blank">Atomic Habits: An Easy and Proven Way to Build Good Habits and Break Bad Ones</a>
    </li>
    <li>
      <a href="https://amzn.to/3rEKTis" target="_blank">Can't Hurt Me: Master Your Mind and Defy the Odds</a>
    </li>
  </ul>
</section>
