---
layout: post
title: "My Experience Owning an Investment Property - Part 1"
subtitle: "Poor timing in, poor timing out"
date: 2022-01-25 12:00:00 +1000
background: "/img/posts/ip-01.jpg"
currentPart: 1
sidebar: "PropertyInvesting|GeneralFinance|GeneralFire"
---

<p>My partner and I purchased an investment property west of Melbourne which sold this year; approximately 4 years after buying it.</p>

<p>
  There are a lot of assumptions and expectations that come with owning investment properties and I&apos;d like to document and share my
  experience. I will also be sharing a summary of incurred expenses vs rental income for the benefit of anybody considering entering the
  property market. In the interest of a bit of anonymity the numbers will not be exact, instead it will be very close.
</p>

<h2>Poor timing in, poor timing out</h2>
<p>
  I know an IP can be a great source of income, especially later in life. For this reason and others I&apos;d been planning to buy an IP for
  quite some time. I knew full well it would be likely be negatively geared, an expense, for a number of years.
</p>

<h3>The market</h3>
<p>
  When the search began the market was surging. For years experts have been prophesying a crash, yet it never seems to come. Being a firm
  believer in not trying to time the market I pressed ahead regardless.
</p>

<h3>Life finds a way</h3>
<p>
  Within a few weeks of buying the property my partner became pregnant. While this in of itself wasn&apos;t a shock, we were planning and
  had begun actively trying, the shock came from how quickly it happened. It was basically instant.
</p>
<p>Oh and the small detail that we were having *twins*. We certainly were not expecting that.</p>

<h3>Selling in a pandemic</h3>
<p>
  For reasons I&apos;ll elaborate on later we opted to sell in 2021 when Melbourne was looking like things were back to normal. Turns out
  they weren&apos;t.
</p>

<p>
  We ended up in and out of lockdown several times which hampered our time on the market and exposure. The original listing was delayed and
  then ultimately the auction was too as we weren&apos;t allowed inspections. We had a tenant with a fixed lease for the next 10 months, but
  as we now were selling we provided them with a <em>Notice of intention to sell</em>. This enabled them to break the lease and provide a
  mere 14 days notice before vacating. Which they quickly did. So the delays to sell quickly became financially painful.
</p>

<p>
  Continue on with the next post for
  <a href="/2022/01/26/my-experience-owning-an-investment-property-p2.html">my experience buying the investment property</a>.
</p>

{% include sig.html %} {% include components/multi/owning-an-ip.html %}
