.recommendations {
  position: sticky;
  top: 80px;

  h2 {
    font-size: 24px;
    color: $brand-secondary-colour;
  }

  p.intro {
    font-size: 18px;
    margin-top: 0;
  }

  .recommended {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 2em 0;
    padding-top: 2em;
    font-size: 16px;

    h3 {
      font-size: 22px;
      color: $brand-primary-colour;
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        // padding-left: 0;
        margin-bottom: 1em;
      }
    }
  }
}
