---
layout: post
title: "My Experience Owning an Investment Property - Part 2"
subtitle: "Buying the investment property"
date: 2022-01-26 12:00:00 +1000
background: "/img/posts/04.jpg"
currentPart: 2
---

<div class="alert alert-info small" role="alert">
  This is the second post in a 5 part article on my
  <a href="/2022/01/25/my-experience-owning-an-investment-property-p1.html">experience owning an investment property</a>.
</div>
<p></p>

<p>
  The experience was normal as far as property hunting in Melbourne goes. Under quoted listings and annoying agents were just part of it.
</p>

<h2>Pre-approval</h2>
<p>
  My partner and I both worked full-time consistently and between us had a good income so mortgage pre-approval was no issue for what we
  were looking to borrow. We also had good equity in our PPOR so were planning on using that to negate the need for offsetting much cash
  upfront.
</p>

<h2>Solicitor or conveyancer</h2>
<p>Next we engaged a conveyancer, who was responsible for the following:</p>
<ul>
  <li>Review contract of sale</li>
  <li>Review Section 32</li>
  <li>Preparations of documents</li>
  <li>Handle financial adjustments</li>
  <li>Transfer property ownership</li>
  <li>Liaise with bank and complete settlement</li>
</ul>

<p>
  A conveyancer specialises in providing advice and information regarding the sale of a property whereas solicitors are qualified lawyers;
  fit to deal with complex legal issues should they arise.
</p>

<p>If you hire a conveyancer they may need to defer to a lawyer for a complex issue, which you will likely be charged for each instance.</p>

<p>
  Another consideration is many conveyancers charge a flat fee regardless of how many contract reviews they perform, where as some can
  charge $250+ per review. We ultimately reviewed 3 or 4 properties which could have cost us an extra $1k had we not gone with a conveyancer
  offering this type of pricing.
</p>

<h2>Finding the right property</h2>
<p>
  We spent countless hours hunting for a property that suited our needs and price range. Some properties we selling in excess of 30% above
  the top of their advertised range and it became rather demoralising to get knocked out of auctions minutes after it begins after spending
  the time researching etc.
</p>

<p>
  Eventually we purchased a property that checked all the boxes for us and seemed like a low maintenance property with strong rental appeal.
</p>

<p><strong>At a high level it was:</strong></p>
<ul>
  <li>In a good location</li>
  <li>Modern enough, with a clean and open plan</li>
  <li>Good condition / low maintenance</li>
  <li>3 bedrooms / 2 bath</li>
  <li>Sizable backyard</li>
  <li>Decent size block (~300sq)</li>
  <li>Within our price range</li>
  <li>Rental ready</li>
</ul>

<h2>What happens after the auction</h2>
<p>
  Once we&apos;d officially won the auction we had to sign all necessary paperwork and pay the deposit. We&apos;d previously discussed with
  the agent about paying a 5% deposit if successful, so then and there we did a bank transfer of $5000 followed by an additional $20,000 to
  be delivered on Monday. We also agreed on a settlement date.
</p>

<p>
  First thing Monday I immediately began approaching property managers as I wanted to have it rented out as quickly as possible and settled
  on someone who had a good list of prospects. We agreed on the following rates:
</p>
<ul>
  <li>Management fee of 6.6% (incl GST)</li>
  <li>Leasing fee of 1.5 weeks rent (plus GST)</li>
  <li>Re-Lease fee of $220 (incl GST)</li>
  <li>Advertising fee of $240 (including board, photos, listing and viewing etc)</li>
</ul>

<p>
  The settlement unfortunately was an utter mess, I don&apos;t want to go into to much detail here, but long story short the bank screwed up
  just about every possible step along the way. It was literally resolved in the last few hours after a lot of stress and escalations to
  managers. Issues including:
</p>
<ul>
  <li>Spelling my name wrong</li>
  <li>Spelling my partners name wrong</li>
  <li>Incorrect property address</li>
  <li>Incorrect sale price</li>
  <li>Incorrect interest rate</li>
  <li>Sent documents to wrong conveyancer</li>
  <li>Sent incomplete documents to conveyancer</li>
  <li>Charged additional fees which were supposed to be waived</li>
  <li>Wouldn&apos;t return my or conveyancers emails/calls</li>
</ul>

<p>
  You can&apos;t make this up. I cannot explain how poor this experience was, even the conveyancer was blown away and said she&apos;d never
  seen such incompetence before. It was rough.
</p>

<p>
  Fortunately it actually settled on time somehow, and on the bright side our new property manager had a tenant lined up who moved in the a
  couple of days after settlement.
</p>

<p>
  Continue on with the next post for
  <a href="/2022/01/27/my-experience-owning-an-investment-property-p3.html">my experience as a rental provider</a>.
</p>

{% include sig.html %} {% include components/multi/owning-an-ip.html %}
