---
layout: post
title: "My Experience Owning an Investment Property - Part 3"
subtitle: "My experience as a Rental Provider"
date: 2022-01-27 12:00:00 +1000
background: "/img/posts/04.jpg"
currentPart: 3
sidebar: "PropertyInvesting|GeneralFinance|GeneralFire"
---

<div class="alert alert-info small" role="alert">
  This is the third post in a 5 part article on my
  <a href="/2022/01/25/my-experience-owning-an-investment-property-p1.html">experience owning an investment property</a>.
</div>

<p>
  We had few issues as Rental Providers, we were flexible and fair with our renters. We actively tried to be good landlords and wanted to
  treat the tenants with respect.
</p>

<h2>Renters</h2>
<p>
  We had two different renters, the first stayed for 12 months and the second for the remaining time we had the property. Both were mostly
  fine and we had little communication with them and both were respectful of the house and kept it neat and tidy.
</p>
<p>We did get a bizarre request to fumigate the place as the tenant had seen two white tail spiders which seemed complete overkill.</p>
<p></p>
<p>Neither tenant did a fantastic job of the lawns and yard but I can be quite the picky with that, so never judged them for it.</p>
<p>
  An annoying issue was that apparently the dishwasher was leaking into the cupboard; the tenant neglected to tell me until it had
  completely ruined the shelving. It was frustrating as the issue went from a 2 second hose replacement to needing to remake a custom shelf.
</p>

<h2>Maintenance</h2>
<p>
  General maintenance costs were low, we did have to get a plumber in on day 1 as the gas wasn&apos;t working but that was a small easy fix.
  After that we had a few bigger items:
</p>
<ul>
  <li>Gas heater died - $2000 to install a new one</li>
  <li>Installed 2 ceiling fans - $800</li>
  <li>Gas Hot Water System - $1400</li>
</ul>

<p>Beyond those items there was naturally a range of miscellaneous issues that came about to a somewhere around the $1k a year.</p>

<h2>Property Managers</h2>
<p>
  The agency changed our manager 3 or 4 times during our time with them, but we weren&apos;t fussed as they all seemed to do the same thing.
  I.e. not much.
</p>

<p>
  Communication was slow back and forth and we always had the feeling that they were working for the tenant rather than us, especially when
  we were selling. It&apos;s a hard thing to explain and justify, but a lot of passing comments seemed to be more about helping them rather
  than doing what we needed.
</p>

<p>
  Continue on with the next post for
  <a href="/2022/01/28/my-experience-owning-an-investment-property-p4.html">my experience selling the investment property</a>.
</p>

{% include sig.html %} {% include components/multi/owning-an-ip.html %}
