---
layout: post
title: "My Experience Owning an Investment Property - Part 5"
subtitle: "Summary of expenses and income"
date: 2022-01-29 12:00:00 +1000
background: "/img/posts/04.jpg"
currentPart: 5
---

<div class="alert alert-info small" role="alert">
  This is the final post in a 5 part article on my
  <a href="/2022/01/25/my-experience-owning-an-investment-property-p1.html">experience owning an investment property</a>.
</div>
<p></p>

<p>Please note that the below costs are rough and span 4 years. The do not include savings on tax due to negative gearing.</p>

<h4 class="mt-5">Purchasing costs</h4>
<table class="table table-bordered table-hover">
  <tbody>
    <tr>
      <td>Property Cost</td>
      <td>-$500,000</td>
    </tr>
    <tr>
      <td>Stamp Duty</td>
      <td>-$25,000</td>
    </tr>
    <tr>
      <td>Solicitor</td>
      <td>-$1,200</td>
    </tr>
    <tr>
      <td>Other purchasing costs</td>
      <td>-$1,500</td>
    </tr>
  </tbody>
</table>

<h4 class="mt-5">Ongoing Costs & Rental Income</h4>
<table class="table table-bordered table-hover">
  <tbody>
    <tr>
      <td>Rent Incoming</td>
      <td>$70000</td>
    </tr>
    <tr>
      <td>Property Management Fees<br /><small>(including advertising, leasing etc)</small></td>
      <td>-$5,000</td>
    </tr>
    <tr>
      <td>Depreciation<br /><small>(not out of pocket, but deductable)</small></td>
      <td>-$15,000</td>
    </tr>
    <tr>
      <td>Depreciation Schedule</td>
      <td>-$750</td>
    </tr>
    <tr>
      <td>Interest</td>
      <td>-$55,000</td>
    </tr>
    <tr>
      <td>Borrowing Expenses</td>
      <td>-$1,500</td>
    </tr>
    <tr>
      <td>Insurance</td>
      <td>-$3000</td>
    </tr>
    <tr>
      <td>Water</td>
      <td>-$3,200</td>
    </tr>
    <tr>
      <td>Rates</td>
      <td>-$6,500</td>
    </tr>
    <tr>
      <td>Maintenance/Repairs</td>
      <td>-$8,000</td>
    </tr>
  </tbody>
</table>

<h4 class="mt-5">Selling costs</h4>
<table class="table table-bordered table-hover">
  <tbody>
    <tr>
      <td>Commission</td>
      <td>-$13,000</td>
    </tr>
    <tr>
      <td>Advertising</td>
      <td>-$2,500</td>
    </tr>
    <tr>
      <td>Legal Costs</td>
      <td>-$2,000</td>
    </tr>
    <tr>
      <td>Mortage Discharge</td>
      <td>-$150</td>
    </tr>
    <tr>
      <td>Sale</td>
      <td>$500,000</td>
    </tr>
  </tbody>
</table>

{% include sig.html %} {% include components/multi/owning-an-ip.html %}
