---
layout: post
title: "My Experience Owning an Investment Property - Part 4"
subtitle: "Selling the investment property"
date: 2022-01-28 12:00:00 +1000
background: "/img/posts/04.jpg"
currentPart: 4
---

<div class="alert alert-info small" role="alert">
  This is the fourth post in my 5 part article on my
  <a href="/2022/01/25/my-experience-owning-an-investment-property-p1.html">experience owning an investment property</a>.
</div>
<p></p>

<h2>Why did we sell</h2>
<p>There were a couple of factors for why we decided to sell. The first was cashflow.</p>

<p>
  My partner had been a full time mum basically the entire time we had the IP so income was down and it didn&apos;t look to be changing
  anytime soon. Add the cost of twins and an existing mortgage for our PPOR to that mix and it wasn&apos;t a good time. We were slowly
  taking money from our savings, spending a little more each month than I was earning.
</p>

<p>
  We always knew it would be tough for a little while when kids were born, however she planned to be a full time mum for 1.5 years, it has
  now been 4. A key thing to remember here that as she had no income (outside of the IP) she was unable to make use of the negative gearing
  tax offset, so that was basically wasted expenses that we couldn&apos;t claim.
</p>

<p>
  I recognised that this wasn&apos;t going to be sustainable and I was feeling uneasy. Couple this with the second issue, the pandemic was
  here and a lot of people were unable to pay their rent. I was extremely nervous our tenants would either stop paying rent or move out and
  we wouldn&apos;t be able to find anybody to replace them. The pandemic had no signs of slowing down and it became a risk I was no longer
  happy to shoulder.
</p>

<h2>Selling with a vendor advocate</h2>
<p>
  Having never sold a property before I wanted to ensure we covered all of our bases, so we enlisted a vendor advocate. A vendor advocate is
  a professional to partner with you when you're selling your property, they basically take all the work off of your hands. Our advocate did
  the following:
</p>
<ul>
  <li>Helped us explain the process</li>
  <li>
    Enlisted 3 different Real Estate Agent&apos;s to independently quote on our property, and negotiate their prices etc. We picked the
    preferred agent.
  </li>
  <li>Handled all communications with the agent moving forward</li>
  <li>Worked with the property manager to work around the tenants best times (inspections, photos etc)</li>
  <li>Was available anytime we had questions or concerns.</li>
</ul>

<p>
  From our experience I would say an advocate is an absolute must have when selling. Best of all they don&apos;t cost anymore than you
  would&apos;ve already paid as they split the commission with the agents.
</p>

<h2>Time on market</h2>
<p>
  The usual target campaign for a property is approximately 4 weeks and that is what we were aiming for. Unfortunately we were in unknown
  times, à la Covid-19. We managed to get a number of people inspecting the first weekend, then restrictions didn&apos;t permit any more, so
  we postponed a month until it opened up again. In the interim there were remote inspections being trialled.
</p>

<p>
  We managed to get another weekend of inspections in then days before the auction date, we were locked down and forbidden from performing
  auctions in person. We couldn&apos;t believe it, we didn&apos;t have tenants at this point so everyday was costing us money and I was
  starting to stress.
</p>

<p>
  Our advocate explained that there was sufficient registered interest to justify trying an online auction and we decided to give it a try.
  It was awkward, but we sold, for the same amount we purchased for but at this point I was just happy to not be at a loss.
</p>

<h2>Selling Expenses</h2>

<table class="table table-bordered table-hover">
  <tbody>
    <tr>
      <td>Commission</td>
      <td>$13,000</td>
    </tr>
    <tr>
      <td>Advertising</td>
      <td>$2,500</td>
    </tr>
    <tr>
      <td>Legal Costs</td>
      <td>$2,000</td>
    </tr>
    <tr>
      <td>Mortage Discharge</td>
      <td>$150</td>
    </tr>
    <tr>
      <td>Miscellaneous*</td>
      <td>$150</td>
    </tr>
    <tr>
      <td></td>
      <td><strong>$17,800</strong></td>
    </tr>
  </tbody>
</table>
<p>
  If you&apos;re wondering what the miscellaneous charge of $150 is, so was I. I found out it was apparently be a clerical error on part of
  the Agent. Oops.
</p>

<p>
  Continue on with the next post for a
  <a href="/2022/01/29/my-experience-owning-an-investment-property-p5.html">summary of expenses and income</a>.
</p>

{% include sig.html %} {% include components/multi/owning-an-ip.html %}
