---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead home-masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead home-masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="home-heading">
            <h1>Slow Steps Towards Financial Independence</h1>
            <p class="lead">An honest perspective of my challenges and findings as I attempt the journey towards financial independence.</p>
            <p class="lead">SlowStepsFI is a blog with resources, reflections and genuine accountability from someone struggling along the way.</p>
            <p><a href="/articles/" class="btn btn-primary">View all the articles</a></p>
          </div>      
        </div>
      </div>
    </div>
    {% if page.background %}
  </header>
  {% else %}
</header>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">

      {{ content }}
      <div class="post-previews">

      
      {% for post in site.posts limit : 6 %}

      {% if post.thumbnail %}
      <article class="post-preview post-preview-thumbnail">
      {% else %}
      <article class="post-preview">
      {% endif %}
        {% if post.thumbnail %}
        <div class="post-thumbnail">
          <img src="{{ post.thumbnail | prepend: site.baseurl | replace: '//', '/' }}" alt="{{ post.title }}" />
        </div>
        {% endif %}

        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
          <h2 class="post-title">{{ post.title }}</h2>
          {% if post.subtitle %}
          <h3 class="post-subtitle">{{ post.subtitle }}</h3>
          {% else %}
          <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
          {% endif %}
        </a>
        <p class="post-meta">Posted {{ post.date | date: '%B %d, %Y' }}</p>
      </article>

      {% endfor %}
    </div>

      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
      </div>

    </div>
  </div>
</div>
